/* Pagination.css */

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
  }
  
  .pagination button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    background-color: #ff6347;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  .pagination span {
    font-size: 16px;
    color: #333;
  }
  